/*** Background ***/




/*** Font ***/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    grey;
}

/*** Pages ***/

div[class^="sheet-section"] {
	visibility: hidden;
	opacity: 0;
	max-height:0;
	overflow: hidden;
}
input.sheet-tab99:checked ~ div[class^="sheet-section"] {
	max-height: 999998px;
	opacity: 1;
	transition: opacity 0.25s linear 0s;
	overflow: auto; 
	
}
.sheet-row div[class^="repcontrol"]{
}
input.sheet-tab {
	width: 100px;
	height: 23px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
	vertical-align:top;
}
span.sheet-tab {
	text-align: center;
	display: inline-block;
	padding-left, padding-right: 3px;
	width: 100px;
	height: 23px;
	cursor: pointer;
	position: relative;
	margin-left: -109px;
	margin-top: 0px;
	color: #FAFAFA;
	border-radius: 5px 5px 0px 0px;
	font-size: 12px;
	box-shadow: 2px 2px 5px #FAFAFA inset,-2px -2px 5px #202020 inset;
	vertical-align:top;
	background-color: #303030;
}
input.sheet-tab::before {
	display: inline-block;
    margin-top:-30px;
	content: attr(title);
	text-align: center;
	width: 100%;
	height: 100%;
}
input.sheet-tab:checked::before {
	background: #4E686A;
	color:blue;
}
/* Next section makes a page visible when the tab is clicked */
input.sheet-tab1:checked ~ div.sheet-section-pc1,
input.sheet-tab2:checked ~ div.sheet-section-pc2,
input.sheet-tab3:checked ~ div.sheet-section-pc3,
input.sheet-tab4:checked ~ div.sheet-section-pc4,
input.sheet-tab5:checked ~ div.sheet-section-pc5{
	max-height: 999999px;
    max-width:850px;
	visibility: visible;
	min-height:1000px;
	opacity: 1;
	transition: opacity .25s linear 0s;
	overflow: hidden;
	border-radius: 0 0 5px 5px;
}
input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab4:checked + span.sheet-tab4,
input.sheet-tab5:checked + span.sheet-tab5{
	box-shadow: -2px -2px 5px #FAFAFA inset, 2px 2px 5px #202020 inset;
	opacity: 1;
}

/* 
.sheet-hideable {
	visibility: hidden;
	opacity: 0;
	max-height:0;
	overflow: hidden;
}
*/
/*** Input ***/
.sheet-number-circle::-webkit-inner-spin-button, 
.sheet-number-circle::-webkit-outer-spin-button { 
}
label { 
	text-align: left;
	font-size: 1em;
	font-weight: normal;
	color: #D8D8D8 ;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	width:auto;
	height:auto;
	text-overflow: '';
	background: #FBFCFC;
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;         /* Opera/IE 8+ */
	padding:0px 4px 0px 4px;
	margin:0;
	border:0;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

input[type=radio]{
	margin:0 5px 0 5px;   
}
input[type="number"]{
	height:2em;
	min-width:2em;
	max-width:5em;
	text-align:right;
}
input[type="number"].sheet-number-box-small{
	vertical-align:middle;
}
input[type="number"]:disabled{
}
input[type="text"]{
	height:2em;
	min-width:5em;
	max-width:15em;
}
input[type="checkbox"] {
	
	color: #000000;
	background: #FBFCFC;
    box-shadow: 1px 1px 2px #000101, -1px -1px 2px #000101,1px -1px 2px #000101, -1px 1px 2px #000101;
}
textarea {
	box-sizing: border-box;
	padding:4px;
	resize: vertical;
	overflow:hidden;
	display: block;
	text-align: left;
	color: #000000;
	background: #FBFCFC;
	width:100%;
	height:2em;
	margin:0px;
}
h1{
	color:white;
}

/*** Table formatting ***/
.sheet-table {
    display:table;  
	padding:6px;
	margin:6px;
	background:rgba(0,0,0,0.55);
}

.sheet-table-row {
	display:table-row;
	width:100%;
	height:auto;
}
.sheet-fill{
	width:100%;
}

.sheet-table-cell{
	padding:1px;
    text-align:center;  
	display:table-cell;
	vertical-align:middle;
	height:100%;
}

.sheet-table-cell > input[type="text"]{
	width:100%;
}
.repcontainer label,
.sheet-table label {
    text-align:center;
	padding:0px;
	padding-left:3px;
	border:0px; 
	margin:0px;
	margin-top:-2px;
	font-size:.9em;
}

.repcontainer {
	width:100%;
	min-height:28px;
	background:rgba(0,0,0,0.55);
	padding:8px;
	margin:6px;
}

/*** Buttons ***/




/*** Roll Templates ***/
.sheet-rolltemplate-defense,
.sheet-rolltemplate-attack{
}
.sheet-rolltemplate-attack table{
    font-family: "Georgia";
	background-color: #a0a0a0;
	width: 180px;
	border: 3px solid #7f0000;
}
.sheet-rolltemplate-attack th {
    border-top:3px solid #7f0000;
	text-align:center;
	font-style:bold;
}
  


.sheet-rolltemplate-defense table {
	font-family: "Georgia";
	background-color: #a0a0a0;
	width: 180px;
	border: 3px solid #00007f;
}
.sheet-rolltemplate-defense th{
    border-top:3px solid #00007f;
    text-align:center;
	font-style:bold;
    
}
.sheet-rolltemplate-defense tr,
.sheet-rolltemplate-attack tr {
}
.sheet-rolltemplate-defense td,
.sheet-rolltemplate-attack td {
	padding:.25em;
}
.charsheet {
    background-color:#000303 ;
    background-image:url("http://i.imgur.com/XOomnMY.jpg?1");
    background-repeat: no-repeat;
	background-position: 0px 33px; 
	text-shadow: 1px 1px 2px #000101, -1px -1px 2px #000101,1px -1px 2px #000101, -1px 1px 2px #000101,
		1px 1px 12px #000101, -1px -1px 12px #000101,1px -1px 12px #000101, -1px 1px 12px #000101;
	color: #FAFAFA;
    
}

/*** Misc***/
[class^="sheet-faded"]{
    background-color:rgba(0,0,0,.3);   
    display:inline;
    border-radius:1em 1em 0 0 ;
}
.sheet-faded-nam {
    vertical-align:middle;
    width:76px;
    padding:4px;
}
.sheet-faded-nam > div{
    display:inline-block;
    width:32%;   
}
.sheet-faded-text {
    vertical-align:middle;
    padding:4px;    
}
.sheet-label-row div{
    display:inline-block;   
}
.sheet-label-row div > span{
}
h1 {
    font-size:1.5em;
}

.sheet-row-with-labels{
}
.sheet-row-with-labels > div{
 display:inline-block; 
 vertical-align:middle;
}
.sheet-row-with-labels button{
	vertical-align:middle;
}
.sheet-row-with-labels label{
 text-align:center;
}
.sheet-ability-section {
    width:360px;
    display:inline-block;  
    padding:4px 4px 0 4px;
}
/*
.sheet-attributes{
 display:inline-block;
 width:100%;
 vertical-align:top;
 height:80px;
 border-radius:2px;
 text-align:center;   
}
.sheet-attributes >div{
    display:inline-block;
    padding-bottom:5px;
	font-size:16px;
	width:10.5%;
}
.sheet-attributes label{
    padding:.5em 0 .5em 0;
    background:rgba(16,32,48,.4);
    width:100%;
	text-align:center;
	margin-bottom: 10px;   
	margin-bottom: -2em;
    box-shadow: 3px 3px 2px #aaaaaa inset,-3px -3px 1px #103030 inset;
}
.sheet-attributes span {
	font-size:.75em;
	position:relative; 
	top:-2em; 
	left:2em;
}
.sheet-attributes button{
	text-align:center;
	overflow: hidden;
	margin:0;
	width:90%;
	height:1.5em;
	opacity:0;
	z-index:9999;
}
*/
label.sheet-table-header {
	font-size:1.2em;
}
.charsheet * {
	font-family: "Georgia"; 
	/*line-height:10px;*/
}
