.sheet-table {
	display:table;
	vertical-align:bottom;
}.sheet-table-row {
	display:table-row;
}.sheet-table-cell {
	display:table-cell;
    width:auto;
}
select{
	margin-bottom:0px;
}
textarea{
	margin-bottom:0px;
	width:200px;
	height:18px;
}

.sheet-input-with-label{
	display:inline-block;
	vertical-align:bottom;
}

select{
	width:auto;
	
	
}

input {
	width:100%;
}

.sheet-vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

button{
	text-align:left;
	font-size:1em;
	width:95%;
}